.nav_entire {
  background: #242119 !important;
  margin: 10px;
  width: 98% !important;
  border-radius: 15px;
}

.tabs_btn {
  margin: 10px !important;
}

.ft_color {
  color: white !important;
  /* margin: 15px !important; */
  display: inline-block !important;
  text-transform: capitalize !important;
  font-family: "PROXONRegular !important";
  font-size: 20px !important;
}

.ft_bor {
  font-size: 10px !important;
  border: 1px solid #02b8e4 !important;
  border-radius: 20px !important;
  background: #ffffff !important;
  color: #02b8e4 !important;
  padding: 10px 60px !important;
  float: right;
  /* margin-left: 100% !important; */
  cursor: pointer;
}

.inside {
  display: flex;
  justify-content: center;
  align-items: center;
}
